* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.small-container{
    max-width: 1080px;
    margin: 100px auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 90%;
    padding: 50px 0;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}

.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}

.detalle-producto{
    margin-top: 5px;
}

.detalle-producto .col-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: #555;
}

.detalle-producto select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ff523b;
}

.detalle-producto input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

button{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
}