* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 90%;
    margin: auto;
}

section h1{ 
    padding-top: 50px;
    font-size: 22px; 
    text-align: center;
    color: #555;
    position: relative;
    line-height: 50px;
}

section h1::after{
    content: '';
    background: #234354;
    width: 450px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

section p{
    margin-top: 20px;
    font-size: 17px;
    color: #555;
}

footer{
    margin-top: 20px;
}

