*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.productos{
    margin: 20px 0;
}

.col-4{
    padding-top: 20px;
}

.card{
    padding: 20px;
}

.tab-pane h1, h2{
    padding-top: 40px;
}


.formulario-cliente, .btn-success{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0;
}

.formulario-cliente input{
    width: 95%;
}

