*{
    margin: 0;
    padding: 0;
}

.contenedor{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(#fff, #5099A1);
    height: 600px;
}

.portada{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.cabecera h4 a{
    color: #000;
    text-decoration: none;
    float: left;
    padding-top: 20px;
}

/************************************************************/

#btnMenu{
    display: none;
}

.cabecera label{
    display: none;
    width: 50px;
    padding: 10px;
    font-size: 35px;
    transition: all 500ms ease;
}

.cabecera label:hover{
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

/* ESTILO DE MENU *********************************************/

.menu ul{
    list-style: none;
    padding: 1px;
    display: flex;
    justify-content: flex-end;
}

.menu ul li a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    display: block;
}

.menu ul li a:hover{
    background-color: #F7F8F9;
    padding: 15px;
    transition: .5s;
}

/* ESTILO DE PORTADA ******************************************/

.main{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    color: #333;

    font-size: 37px;
}

.main div{
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main span{
    text-align: center;
    font-size: 17px;
}

.main a{
    text-decoration: none;
    color: #fff;
}

.main button{
    background: #ff523b;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
}

.main button:hover{
    background: #555;
}

/************************************************************/

.container-2{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    
    font-family: Arial, Helvetica, sans-serif;
}

.container-2 h2{ 
    padding-top: 50px;
    font-size: 22px; 
    text-align: center;
    color: #555;
    position: relative;
    line-height: 50px;
}

.container-2 h2::after{
    content: '';
    background: #234354;
    width: 450px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sub-container-2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
}

.sub-container-2 > div{
    padding: 20px 0;
    margin: auto;
    text-align: center;
    
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}

.sub-container-2 h4{
    padding-top: 10px;
    cursor: pointer;
}

.sub-container-2 a{
    text-decoration: none;
    color: #000;
}

.sub-container-2 img{
    height: 300px;
}

.sub-container-2 img:hover {
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.2s;
}

.sub-container-2 i{
    color: green;
}

.valoracion i{
    color: #CDA434;
}

/************************************************************/

.slider{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.slider-img{
    width: 300px;
    margin: auto;
    overflow: hidden;
}

.slider-img ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: carrusel 20s infinite alternate;
    animation-timing-function: ease;
}

.slider-img li{
    width: 100%;
    list-style: none;
    text-align: center;
}

.slider-img img{
    width: 100%;
    height: 100%;
}

.slider-frase{ 
    width: 80%;   
    display: flex;
    align-items: center;
    color: #555;
}

@keyframes carrusel{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.proveedor > img{
    display: flex;
    margin: auto;
}

/************************************************************/

.container-3{
    background: #333;
    color: #fff;
    padding: 20px;
    margin: auto;

    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-3 .redes-sociales, .contactanos, .pie-final{
    text-align: center;
    margin: 20px;
}

.pie-final{
    grid-column-start: 1;
    grid-column-end: -1;
}

.container-3  i{
    padding: 10px;
    color: #fff;
}


@media(max-width: 768px){
    .contenedor{
        width: 100%;
        height: 650px;
        margin: auto;
    }

    .portada{   
        width: 90%;
        margin: auto;
    }
    
    .cabecera label{
        display: block;
    }

    .checkbtn{
        display: flex;
    }

    .menu{
        width: 90%;
        position: absolute;
        background: #B1CDE1;
        margin-left: -100%;
        transition: all 500ms ease;
    }

    .menu ul{
        flex-direction: column;  /* Cuando se pone en modo responsive la etiqueta ul ya no sera una fila, sera columna*/
    }

    #btnMenu:checked~ .menu{
        margin: 0;
    }

    .com{
        float: right;
    }

    /********************************************************/
    .main > div{
        grid-column: 1 / -1;
        text-align: center;
        font-size: 25px;
        padding-top: 0px;
    }

    .main span{
        display: none;
    }

    /********************************************************/

    .sub-container-2{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 30px;
    }

    .slider {
        grid-column: 1 / -1;
        text-align: center;
        padding-left: 20px;
    }
}

@media(max-width: 500px){
    .contenedor{
        height: 600px;
    }

    .container-2{
        margin-top: 20px;
    }

    .main img{
        width: 450px;
        margin: auto;
    }

    .sub-container-2 > div, .slider > div{
        margin: auto;
        grid-column: 1 / -1;
        padding-top: 10px;
        text-align: center;
    }
}